:root {
  font-family: Noto Sans JP, Hiragino Sans, Yu Gothic, Meiryo, system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;

  /* color */
  --color-white: #ffffff;
  --color-black: #222222;
  --color-red: #ec0000;
  --color-blue: #0017bf;
  --color-yellow: #cd820a;
  --color-gray: #949497;
  --color-pale-gray: #b8b8ba;
  --color-dark-gray: #19191c;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
